body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-background {
    width: 100%;
    height: auto;
}

.info-container {
    position: absolute;
    width: 40%;
    height: 40%;
    padding: 70px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(150, 249, 138, 0.8);
    color: #000;
    text-align: center;
}

.map-container {
    position: absolute;
    width: 40%;
    height: 40%;
    padding: 70px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(126, 214, 238, 0.8);
    color: #000;
    text-align: center;
}

.info-container {
    top: 20%;
    left: 5%;
}

.map-container {
    top: 20%;
    right: 5%;
}

.info-button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.redirect-button {
    background-color: dodgerblue;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.info-button:hover {
    background-color: dodgerblue;
}

.redirect-button:hover {
    background-color: #45a049;
}