{% block body %}
    <div class="favorites-container">
        <!-- Back button in top-left corner -->


        <h2 style="color: #007bff;">Mes Stations Favorites</h2>
        <div class="station-list">
            {% for station in station_names %}
                <div class="station-item">
                    <div class="station-info">
                        <h3>{{ station.name }}</h3>
                    </div>
                    <form action="{{ path('app_station_delete', {'id': station.id}) }}" method="post">
                        <button type="submit" class="favorite-btn">Retirer des favoris</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h2>Les stations</h2>
        <div class="station-list">
            {% for stations in stations1 %}
                <div class="station-item">
                    <div class="station-info">
                        <h3>{{ stations.name }}</h3>
                    </div>
                    <form action="{{ path('app_add_favorite', {'id': stations.getStationId()}) }}" method="post">
                        <button type="submit" class="favorite-btn">Mettre en favoris</button>
                    </form>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}