{% extends 'base.html.twig' %}

{% block content %}

    <h1>Réinitialiser mon mot de passe </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="connect-button btn btn-primary">SAUVEGARDER LE MOT DE PASSE </button>
    {{ form_end(form) }}
{% endblock %}