{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/acceuil.css') }}">
{% endblock %}

{% block content %}
    <!-- Image sous la barre de navigation -->
    <div class="header-image">
        <img src="{{ asset('images/veliko_banner.jpg') }}" alt="Image de Veliko" class="banner-image">
    </div>

    <div class="info-container">
        <h3>A savoir sur Veliko</h3>
        <p>Découvrez qui nous sommes et comment nous vous aidons à mieux vous déplacer en ville.</p>
        <button class="info-button" onclick="window.location.href='/apropos'">En savoir plus</button>
    </div>

    <div class="map-container">
        <h3>Carte des stations</h3>
        <p>Trouvez facilement la station la plus proche pour commencer votre trajet.</p>
        <button class="redirect-button" onclick="window.location.href='/carte'">Vers la carte</button>
    </div>
{% endblock %}
