<h1>Le lien de réinitialisation de ton mot de passe est pret</h1>
<h3>Clique sur le lien pour le reinitialiser </h3>
<h4>Quelques conseils pour augmenter la sécurité de ton mot de passe </h4>
<p>Il est conseillé de choisir une combinaison de trois mots pris au hasard et facile à retenir pour composer ton mot de passe</p>
<p>Evidemment ton mot de passe doit rester confidentiel ! </p>
<a href="{{ absolute_url(path('app_resetMdp', { 'token': token })) }}" class="connect-button btn btn-primary">REINITIALISER LE MOT DE PASSE </a>

<p>Cordialement ,</p>
<p>L'équipe Veliko</p>
