{% extends 'base.html.twig' %}

{% block title %}Confirmer la suppression{% endblock %}

{% block content %}
    <h1>Confirmer la suppression de votre compte</h1>
    <p>Êtes-vous sûr de vouloir supprimer votre compte, {{ user.nom }} ?</p>

    <form action="{{ path('user.delete',{ 'id': app.user.id }) }}" method="POST">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
        <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
    </form>
    <a href="{{ path('app_user',{ 'id': app.user.id }) }}" class="connect-button btn btn-primary">Annuler</a>
{% endblock %}
