{% extends 'base.html.twig' %}

{% block title %}Suppression de compte réussie{% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
