{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    <h1>Modifier le mot de passe</h1>


    {% for message in app.session.flashBag.get('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

{% endblock %}
